{% extends "layouts/app.html" %} {% block content%}
<h1 class="title new-item">New Product</h1>

<form action="/products" method="post">
    {{ create_csrf_token()|raw }}

    <div class="input-field">
        <label for="sku" class="label">Product SKU</label>
        <input name="sku" type="text" id="sku" class="input-text" />
    </div>
    <div class="input-field">
        <label for="name" class="label">Product Name</label>
        <input name="name" type="text" id="name" class="input-text" />
    </div>
    <div class="input-field">
        <label for="price" class="label">Price</label>
        <input name="price" type="text" id="price" class="input-text" />
    </div>
    <div class="input-field">
        <label for="quantity" class="label">Quantity</label>
        <input name="quantity" type="text" id="quantity" class="input-text" />
    </div>
    <div class="input-field">
        <label for="categories" class="label">Categories</label>
        <select name="categories[]" multiple id="categories" class="input-text">
            {% for category in categories %}
            <option value="{{ category.id }}">{{ category.name }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="input-field">
        <label for="description" class="label">Description</label>
        <textarea name="description" id="description" class="input-text"></textarea>
    </div>
    <div class="actions-form">
        <a href="/products" class="action back">Back</a>
        <input
            class="btn-submit btn-action"
            type="submit"
            value="Save Product"
        />
    </div>
</form>
{% endblock %}
